<a href="https://colab.research.google.com/github/troogg/Madara/blob/master/Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#laboratory

In [4]:
import numpy as np
import pandas as pd

In [20]:
my_data = pd.read_csv('/content/amazon.csv', encoding = "ISO-8859-1")

In [24]:
tab = my_data[['year', 'state']]
display (tab)

      year      state
0     1998       Acre
1     1999       Acre
2     2000       Acre
3     2001       Acre
4     2002       Acre
...    ...        ...
6449  2012  Tocantins
6450  2013  Tocantins
6451  2014  Tocantins
6452  2015  Tocantins
6453  2016  Tocantins

[6454 rows x 2 columns]

# Nova seção